In [2]:
import psycopg2
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
from scipy.io import wavfile
from sql_credentials import sql_credentials

In [3]:
conn = psycopg2.connect(host=sql_credentials['host'],
                      dbname=sql_credentials['dbname'],
                      user=sql_credentials['user'],
                      password=sql_credentials['password'],
                      port=5433)
cur = conn.cursor()

In [5]:
from sqlalchemy import create_engine

cnxn_str = 'postgresql://{user}:{password}@{host}:{port}/{dbname}'
cnxn_str = cnxn_str.format(host=sql_credentials['host'],
                      dbname=sql_credentials['dbname'],
                      user=sql_credentials['user'],
                      password=sql_credentials['password'],
                      port=sql_credentials['port'],
                      )

# cnxn_str = 'postgresql://postgres:fireflare22512@localhost:5433/auralytics'

engine = create_engine(cnxn_str)

In [6]:
columns = ['date','location','speed','position','daytime','weather','class','source direction','mic','channel']

directory_path = "./IDMT_Traffic/audio/"
paths = os.listdir(directory_path)
non_noise = [path for path in paths if '-BG' not in path]

In [80]:
# load idmt metadata

def extract_features(path):
    features = path[:-4].split('_')
    features[2] = features[2][:-3]
    features[-1] = features[-1][2:]
    features = features[:6] + [features[6][0],features[6][1]] + features[7:]
    return features

features = [extract_features(path) for path in non_noise]

df = pd.DataFrame(features,columns=columns)

# df['id'] = df.index
# df = df[['id'] + columns]

df.to_sql('idmt_metadata', con=engine, if_exists='replace')

362

In [79]:
# load idmt audio compressed left channel

def compress_vector(vector,compression_factor):
    # Calculate the number of bins
    num_bins = len(vector) // compression_factor

    # Reshape the array into a 2D array with shape (num_bins, compression_factor)
    reshaped_array = vector[:num_bins * compression_factor].reshape((num_bins, compression_factor))

    # Calculate the average of each bin
    return np.mean(reshaped_array, axis=1)

def extract_audio_left(path):
    file = directory_path + path
    samplerate, time_data = wavfile.read(file)
    return compress_vector(time_data[:,0],100)

audio_data = [extract_audio_left(path) for path in non_noise[:5]]

df = pd.DataFrame(audio_data)
df.to_sql('idmt_audio_left', con=engine, if_exists='replace')

5

In [7]:
with engine.connect() as conn: 
    a = pd.read_sql('idmt_audio_left', conn) 
a

,index,0,1,2,3,4,5,6,7,8,...,950,951,952,953,954,955,956,957,958,959
0,0,0.006642,0.002259,-0.012161,-0.012211,-0.011757,0.008892,0.007181,0.008543,-0.000538,...,-0.003908,0.001512,0.002568,0.014018,0.006168,0.006200,0.001919,-0.002261,0.011066,0.002587
1,1,0.001720,0.014077,-0.000655,-0.002869,-0.003208,0.002074,-0.002890,-0.004775,-0.006261,...,-0.008923,0.003679,-0.004165,-0.000042,0.003333,0.005952,0.004321,-0.003936,0.002991,-0.002725
2,2,0.018918,0.007201,-0.007576,-0.004314,-0.014374,-0.007429,0.003445,-0.005810,-0.000937,...,-0.024247,-0.007483,-0.005315,-0.001500,0.006946,0.020583,0.022441,0.010380,-0.004713,-0.007019
3,3,-0.004926,-0.001454,0.005530,0.003215,0.002928,0.002477,-0.003638,-0.005989,0.006888,...,0.012339,-0.004849,-0.001630,-0.002908,0.003478,-0.003242,0.009024,-0.008287,0.009104,0.000725
4,4,0.013622,0.016892,0.004234,-0.001164,0.003784,-0.010207,-0.007604,-0.007073,-0.008374,...,-0.028838,-0.046047,-0.039408,-0.027695,-0.010803,-0.002176,0.012841,0.029668,0.035884,0.049820

In [82]:
cur.execute('select * from idmt_metadata')
rows = cur.fetchall()
rows

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block